<div class="title">
    <mat-icon class="close" (click)="closeDialog()">close</mat-icon>
    <h1 *ngIf="data.name == 'create'">Create Surgery</h1>
    <h1 *ngIf="data.name == 'edit'">Edit Surgery</h1>
</div>
<div class="dialog-wrap">
    <form [formGroup]="surgeryForm">
        <mat-error *ngIf="invalidForm">All fields marked * are required</mat-error>
        <div class="row col-lg-12">
            <mat-form-field appearance="outline" class="col-lg-3">
                <mat-label>Surgery Type</mat-label>
                <input matInput [matAutocomplete]="auto" formControlName="type" />
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredSurgerykywds | async" [value]="option">
                        {{ option }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-lg-3">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date" (click)="picker.open()" readonly required/>
                <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-lg-3">
                <mat-label>Time</mat-label>
                <input matInput matTimepicker #t="matTimepicker" (click)="t.showDialog()" formControlName="time" mode='12h' readonly required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-lg-3">
                <mat-label>Venue</mat-label>
                <input matInput [matAutocomplete]="auto1" formControlName="venue" required/>
                <mat-autocomplete #auto1="matAutocomplete">
                    <mat-option *ngFor="let option of filteredVenuekywds | async" [value]="option">
                        {{ option }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="row col-lg-12">
            <mat-form-field appearance="outline" class="col-lg-4">
                <mat-label>Surgeon Name</mat-label>
                <input matInput [matAutocomplete]="auto2" formControlName="surgeon" required/>
                <mat-autocomplete #auto2="matAutocomplete">
                    <mat-option *ngFor="let option of filteredSurgeonkywds | async" [value]="option.fname + ' ' + option.lname">
                        {{option.fname + " " + option.lname}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-lg-4">
                <mat-label>Patient Name</mat-label>
                <input matInput [matAutocomplete]="auto3" formControlName="patient" required>
                <mat-autocomplete #auto3="matAutocomplete">
                    <mat-option *ngFor="let option of filteredPatientkywds | async" [value]="option.fname + ' ' + option.lname">
                        {{option.fname + " " + option.lname}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-lg-4">
                <mat-label>Patient Age</mat-label>
                <input type="number" matInput formControlName="patientAge" (keypress)="filter($event)" required>
            </mat-form-field>
        </div>
        <div class="row-col-lg-12">
            <mat-form-field appearance="outline" class="col-lg-6">
                <mat-label>Prescription</mat-label>
                <textarea matInput formControlName="prescription"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-lg-6">
                <mat-label>Instructions</mat-label>
                <textarea matInput formControlName="instructions"></textarea>
            </mat-form-field>
        </div>
        <button *ngIf="data.name == 'create'" class="btn" (click)="submitForm()">Create</button>
        <button *ngIf="data.name == 'edit'" class="btn" (click)="updateForm()">Save Changes</button>
    </form>
</div>