.title {
    background-color: #f8c045;
    text-align: center;
    padding: 8px 0;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 5px !important;
    margin-top: 5px;
}

::ng-deep .custom-dialog .mat-dialog-container {
    padding: 0 !important;
}

.dialog-wrap {
    padding: 10px;
}

.mat-error {
    text-align: center;
    margin-bottom: 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.row {
    margin: 0 !important;
}

.col-lg-12 {
    padding: 0 !important;
}

.btn {
    background-color: #f8c045;
    color: black;
    padding: 5px;
    margin-top: 5px;
    float: right;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 15px;
}

.btn:hover,
.btn:focus,
.btn:active {
    outline: none;
    box-shadow: none;
}

.close {
    font-size: 25px;
    color: red;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.outer {
    padding: 10px 30px;
}

.circles {
    height: 45px;
    width: 45px;
    border: 2px solid #eeeeee;
    background-color: #eeeeee;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active {
    border: 2px solid rgb(5, 204, 5);
    background-color: rgb(5, 204, 5);
    width: 200px;
    height: 5px;
    margin-bottom: 13px;
    display: inline-block;
    text-align: center;
    margin: "0 auto";
}

.current {
    background-color: rgb(5, 204, 5);
    cursor: no-drop;
}

.bar {
    width: 200px;
    height: 5px;
    margin-bottom: 13px;
    border: 2px solid #e4e3e3;
    background-color: #e4e3e3;
    display: inline-block;
    text-align: center;
    margin: "0 auto";
}

.icon {
    margin: 8px;
}

p {
    margin-top: 10px;
}

.alert {
    text-align: center;
}

.alert .mat-card {
    display: inline-block;
}

h3 {
    font-size: 20px;
    text-align: center;
}

.status-btn {
    border: none;
    background-color: #f8c045;
    color: black;
    padding: 10px 40px;
    display: inline-block;
    border-radius: 5px;
    margin: 20px;
}

.status-btn:hover,
.status-btn:focus,
.status-btn:active {
    border: none;
    outline: none;
    box-shadow: none;
}

.legend {
    margin-bottom: 40px;
}

.color1 {
    height: 15px;
    width: 15px;
    border: 2px solid #eeeeee;
    background-color: #eeeeee;
    border-radius: 50%;
    display: inline-block;
}

.color2 {
    height: 15px;
    width: 15px;
    border: 2px solid #ffa500;
    background-color: #ffa500;
    border-radius: 50%;
    display: inline-block;
}

.color3 {
    height: 15px;
    width: 15px;
    border: 2px solid rgb(5, 204, 5);
    background-color: rgb(5, 204, 5);
    border-radius: 50%;
    display: inline-block;
}

small {
    margin-left: 10px;
}

.mat-hint {
    color: rgb(0, 132, 255);
    cursor: pointer;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
    padding: 0 !important;
}