.surgery-wrap {
    padding: 10px 40px;
}

.header {
    height: 40px;
}

.row {
    margin: 0 !important;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
    line-height: 150%;
}

.btn {
    background-color: rgb(251, 255, 43);
    color: black;
    padding: 10px;
    margin-top: 5px;
    float: right;
    margin-right: 20px;
}

.items {
    width: 190px;
    border: none !important;
    outline: none;
    border: none;
}

.items:hover .items:focus,
.items:active {
    outline: none;
    box-shadow: none;
    border: none;
}

.btn:hover,
.btn:focus,
.btn:active {
    outline: none;
    box-shadow: none;
}

.table {
    margin-top: 20px;
}

tr {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.collapse {
    display: none;
    grid-column: 1/-1;
    background-color: rgb(243, 243, 243);
}

.content {
    padding: 10px 75px;
}

.col-lg-5 {
    padding: 0 !important;
}

label {
    font-weight: bold;
    font-size: 15px;
}

.mat-icon {
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.less {
    display: none;
}

.edit {
    color: blue;
}

.delete {
    color: red;
}

.header-btn {
    margin-top: 10px;
    background-color: rgb(251, 255, 43);
    float: right;
    margin-right: 20px;
}

.header-btn:hover,
.header-btn:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.header-icon {
    margin: 0 !important;
    color: black;
}

.col-lg-2 {
    padding-left: 0;
    padding-right: 20px;
}

h3 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    height: 100%;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-left: 2px solid rgb(209, 195, 195);
    border-radius: 0;
}

.mat-checkbox {
    font-size: 18px;
    margin-right: 20px;
}

.accounts-btn {
    margin-top: 10px;
    background-color: rgb(251, 255, 43);
    float: right;
    margin-right: 80px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 6px 20px 3px rgb(219, 213, 213);
}

.accounts-btn:hover,
.accounts-btn:focus,
.accounts-btn:active {
    outline: none;
    border: none;
}