.surgery-wrap {
    padding: 50px 40px;
}

.header {
    height: 40px;
}

.row {
    margin: 0 !important;
}

.search {
    padding: 0;
    margin-top: 5px;
}


/* .col-lg-12 {
    padding: 0 !important;
} */

h1 {
    margin-bottom: 0 !important;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 0;
    line-height: 150%;
}

.btn {
    background-color: #f8c045;
    color: black;
    padding: 10px;
    margin-top: 20px;
    float: right;
    margin-right: 20px;
    margin-bottom: 30px;
}

.items {
    width: 190px;
    border: none !important;
    outline: none;
    border: none;
}

.items:hover .items:focus,
.items:active {
    outline: none;
    box-shadow: none;
    border: none;
}

.btn:hover,
.btn:focus,
.btn:active {
    outline: none;
    box-shadow: none;
}

table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
}

.example-expanded-row {
    background: #f5f5f5;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 20px 0;
}

.example-element-description-attribution {
    opacity: 0.5;
}

.content {
    padding: 10px 75px;
}

.col-lg-5 {
    padding: 0 !important;
}

label {
    font-weight: bold;
    font-size: 15px;
}

.mat-icon {
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.less {
    display: none;
}

.edit {
    color: blue;
}

.delete {
    color: red;
}

.chat {
    color: rgb(125, 175, 50);
}

.header-btn {
    margin-top: 10px;
    background-color: #f8c045;
    float: right;
    margin-right: 20px;
}

.header-btn:hover,
.header-btn:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.header-icon {
    margin: 0 !important;
    color: black;
}

.col-lg-2 {
    padding: 0 !important;
}

.col-lg-12 {
    padding: 5px !important;
}

h3 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    height: 100%;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-left: 2px solid rgb(209, 195, 195);
    border-radius: 0;
}

.mat-checkbox {
    font-size: 18px;
    margin-top: 50px;
}

.accounts-btn {
    margin-top: 10px;
    background-color: #f8c045;
    float: right;
    margin-right: 80px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 6px 20px 3px rgb(219, 213, 213);
}

.accounts-btn:hover,
.accounts-btn:focus,
.accounts-btn:active {
    outline: none;
    border: none;
}

.status {
    background-color: #f8c045;
    height: 50%;
}

.status:hover,
.status:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.mat-card {
    padding: 10px;
}

::ng-deep .ng-chat-window {
    bottom: 20% !important;
    right: 70% !important;
}

::ng-deep .mat-datepicker-content-touch .mat-calendar {
    width: 0 !important;
    height: 0 !important;
}