<div class="surgery-wrap">
    <div *ngIf="upcoming">
        <h1>List of Surgeries</h1>
        <button class="btn" (click)="showPrevious()">
            View Previous Surgeries
        </button>
    </div>
    <div *ngIf="!upcoming">
        <h1>List of Surgeries</h1>
        <button class="btn" (click)="showPrevious()">
            View Upcoming Surgeries
        </button>
    </div>
    <!-- <h1>List of Surgeries</h1> -->
    <div class="mat-elevation-z8">
        <div class="row col-lg-12">
            <div class="col-lg-2">
                <div class="col-lg-12">
                    <mat-form-field class="col-lg-12" appearance="outline">
                        <mat-label>Surgery Type</mat-label>
                        <input matInput [matAutocomplete]="auto" (keyup)="searchFilter()" [formControl]="surgery" />
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredSurgerykywds | async" [value]="option" (click)="searchFilter()">
                                {{ option }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="col-lg-12">
                    <mat-form-field class="col-lg-12" appearance="outline">
                        <mat-label>Surgeon Name</mat-label>
                        <input matInput [matAutocomplete]="auto1" (keyup)="searchFilter()" [formControl]="surgeon" />
                        <mat-autocomplete #auto1="matAutocomplete">
                            <mat-option *ngFor="let option of filteredSurgeonkywds | async" [value]="option.fname + ' ' + option.lname" (click)="searchFilter()">
                                {{ option.fname + " " + option.lname}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="col-lg-12">
                    <mat-form-field class="col-lg-12" appearance="outline">
                        <mat-label>Venue</mat-label>
                        <input matInput [matAutocomplete]="auto2" (keyup)="searchFilter()" [formControl]="venue" />
                        <mat-autocomplete #auto2="matAutocomplete">
                            <mat-option *ngFor="let option of filteredVenuekywds | async" [value]="option" (click)="searchFilter()">
                                {{ option }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="col-lg-12">
                    <mat-form-field class="col-lg-12" appearance="outline">
                        <mat-label>Date of Birth</mat-label>
                        <input matInput [matDatepicker]="picker" [formControl]="dob" [max]="today" (click)="picker.open()" (dateChange)="searchFilter()" readonly/>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="col-lg-12">
                    <mat-form-field class="col-lg-12" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input matInput type="text" [textMask]="{mask: datemask}" [formControl]="contact" (keyup)="searchFilter()" />
                    </mat-form-field>
                </div>
            </div>
            <div class="search col-lg-2">
                <mat-form-field class="col-lg-12" appearance="outline">
                    <mat-label>Search</mat-label>
                    <input matInput [formControl]="search" (keyup)="searchFilter()">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
        </div>

        <table mat-table [dataSource]="sortedList" matSort multiTemplateDataRows (matSortChange)="sortData($event)">

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-icon (click)="openDialog('create','all')">add_circle_outline</mat-icon>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-icon (click)="expandedElement = expandedElement === row ? null : row" *ngIf="expandedElement != row">expand_more</mat-icon>
                    <mat-icon (click)="expandedElement = expandedElement === row ? null : row" *ngIf="expandedElement == row">expand_less</mat-icon>

                    <mat-icon class="edit" (click)="openDialog('edit',row.id)">edit</mat-icon>
                    <mat-icon class="delete" (click)="delete(row.id)">delete</mat-icon>
                    <mat-icon class="chat" id={{row.id}} matBadge={{row.messages}} matBadgeColor="warn" [matBadgeHidden]="row.messages == 0" (click)="openChatWindow(row.id,row.type, row.patientDetails[0].fname, row.patientDetails[0].lname)">
                        message</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Surgery Type </th>
                <td mat-cell *matCellDef="let row"> {{row.type}} </td>
            </ng-container>

            <ng-container matColumnDef="surgeon">
                <th mat-header-cell *matHeaderCellDef>Surgeon Name</th>
                <td mat-cell *matCellDef="let row"> {{row.surgeon}} </td>
            </ng-container>

            <ng-container matColumnDef="patient">
                <th mat-header-cell *matHeaderCellDef> Patient Name </th>
                <td mat-cell *matCellDef="let row"> {{row.patientDetails[0].fname + " " + row.patientDetails[0].lname}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let row"> {{row.date}} </td>
            </ng-container>

            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
                <td mat-cell *matCellDef="let row"> {{row.time}} </td>
            </ng-container>

            <ng-container matColumnDef="venue">
                <th mat-header-cell *matHeaderCellDef> Venue </th>
                <td mat-cell *matCellDef="let row"> {{row.venue}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let row"> {{row.status}} </td>
            </ng-container>

            <ng-container matColumnDef="change">
                <th mat-header-cell *matHeaderCellDef>Change Status</th>
                <td mat-cell *matCellDef="let row"><button class="status" mat-raised-button (click)="openDialog('status',row.id)">Change</button></td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="tableColumns.length">
                    <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="example-element-description">
                            <div class="row col-lg-12">
                                <div class="col-lg-4">
                                    <mat-card>
                                        <h2>Prescription</h2>
                                        <p *ngIf="element.prescription != ''">{{element.prescription}}</p>
                                        <p *ngIf="element.prescription == ''">No Prescription Available</p>
                                    </mat-card>
                                </div>
                                <div class="col-lg-4">
                                    <mat-card>
                                        <h2>Instructions</h2>
                                        <p *ngIf="element.prescription != ''">{{element.instructions}}</p>
                                        <p *ngIf="element.prescription == ''">No Prescription Available</p>
                                    </mat-card>
                                </div>
                                <div class="col-lg-4">
                                    <mat-card>
                                        <h2>Patient Details</h2>
                                        <p><strong>Contact: </strong>{{element.patientDetails[0].contact}}</p>
                                        <p><strong>User ID: </strong>{{element.patientDetails[0].id}}</p>
                                        <p><strong>Email: </strong>{{element.patientDetails[0].email}}</p>
                                        <p><strong>Date of Birth: </strong>{{element.patientDetails[0].dob}}</p>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: tableColumns;" class="example-element-row" [class.example-expanded-row]="expandedElement == element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    <ng-chat *ngIf="adapter != null && adapter != undefined" #ngChatInstance [hideFriendsList]="true" [adapter]="adapter" [userId]="userId"></ng-chat>
</div>