.title {
    background-color: #f8c045;
    text-align: center;
    padding: 8px 0;
    margin-bottom: 20px;
}

.header {
    margin-bottom: 5px !important;
    margin-top: 5px;
}

::ng-deep .login-wrap .mat-dialog-container {
    padding: 0 !important;
}

.login-wrap {
    padding: 30px;
    text-align: center;
}

.mat-error {
    text-align: center;
    margin-bottom: 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.row {
    margin: 0 !important;
}

.col-lg-12 {
    padding: 0 !important;
}

.btn {
    display: inline-block;
    background-color: #f8c045;
    color: black;
    padding: 5px 20px;
    margin-top: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
}

.btn:hover,
.btn:focus,
.btn:active {
    outline: none;
    box-shadow: none;
}

.close {
    font-size: 25px;
    color: red;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.tag {
    margin-bottom: 30px;
}

.admin-icon {
    font-size: 30px;
    border: none;
    /* width: 100px;
    height: 100px; */
    padding: 60px 30px;
    border-radius: 50%;
}

.user-icon {
    font-size: 30px;
    border: none;
    /* width: 100px;
    height: 100px; */
    padding: 60px 30px;
    border-radius: 50%;
}

.admin-icon:hover,
.admin-icon:focus,
.user-icon:hover,
.user-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

.back {
    float: left !important;
    margin-left: 25px;
    cursor: pointer;
    margin-bottom: 20px;
}

::ng-deep .mat-tab-header {
    display: none !important;
}